<section *ngIf="showCard" class="container-card">
  <div class="card">
    <div class="container-form-item">
      <span class="name-form-item">Nombre</span>
      <input [formControl]="name" class="input-form-item" type="text" name="" >
    </div>
    <div class="container-form-item">
      <span class="name-form-item">Fecha</span>
      <input [formControl]="date" class="input-form-item" type="datetime-local" name="">
    </div>
    <div class="container-form-item">
      <span class="name-form-item">Número de cupos</span>
      <input [formControl]="placesNumber" class="input-form-item" type="tel" name="">
    </div>
    <div class="container-btns">
      <button class="btn-delete" (click)="closeCard()" >cerrar</button>
      <button class="btn-delete" (click)="createCereminy()" >agregar</button>
    </div>
  </div>
</section>