<div>
  <h1>Ceremonias</h1>
  
  <div class="container-business">
    <div class="container-logo">
      <img src="/assets/imgs/logo.png" alt="" class="logo">
    </div>
    <div class="container-detail">
      <span class="nickname">CeFes</span>
      <span class="full-name">Centro de fe y esperanza Sahagún</span>
    </div>
  </div>
  <hr>
  <div *ngIf="loading" class="container-list-item-loader" >
    <div class="container-first-chart-loader">
    </div>
    <div class="contaner-info-loader">
      <span class="title-item-loader"> </span>
      <span class="subtitle-item-loader"> </span>
    </div>
    <div class="icon-arrow-loader"></div>
  </div>
  <div *ngIf="loading" class="container-list-item-loader" >
    <div class="container-first-chart-loader">
    </div>
    <div class="contaner-info-loader">
      <span class="title-item-loader"> </span>
      <span class="subtitle-item-loader"> </span>
    </div>
    <div class="icon-arrow-loader"></div>
  </div>
  <div *ngFor="let ceremony of ceremonies" (click)="openPlaces(ceremony.key)" class="container-list-item" >
    <div class="container-first-chart">
      <span class="first-chart">
        {{ ceremony.name.substr(0,1).toUpperCase() }}
      </span>
    </div>
    <div class="contaner-info">
      <span class="title-item"> {{ ceremony.name }} </span>
      <span class="subtitle-item"> {{ ceremony.date | date:"EEEE d 'de' MMMM y '-' h:mm a" }} </span>
    </div>
    <img src="/assets/icons/arrow-ios.svg" alt="" class="icon-arrow">
  </div>
  <br><br><br>
</div>